{{ template "header" . }}
<div class="all_posts">
  {{ range .articles }}
    <div class="post">
      <h2><a href="article/{{ .Id }}">{{ .Title }}</a></h2>
      <div class="post_date">{{ .CreatedAt.Format "January 2, 2006" }}</div>
      <div class="post_content">{{ .Description }}</div>
    </div>
  {{ end }}
</div>
{{ template "footer" . }}